* {
    box-sizing: border-box;
    background-color: black;
  }
  
  #backBtn {
    color: white;
  }
  
  #themeBtn {
    content: url("../images/sun.png");
  }
  
  .find-post-container {
    border: 1px solid rgb(179, 179, 179);
  }
  
  #find-post {
    color: white;
  }
  
  #find-post::placeholder{
    color: rgb(179, 179, 179);
  }
  
  
  .text-inputs > * {
    color: white;
  }
  
  #title::placeholder {
    color: rgb(179, 179, 179);
  }
  
 
  
  .title-label {
    color: rgb(179, 179, 179);
  }
  
  .name-label {
    color: rgb(179, 179, 179);
  }
  
  #story::placeholder {
    color:rgb(179, 179, 179);
  }
  
  #submit {
    border: 2px solid white;
    color: white;
  }

  