* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

main {
  width: 60%;
  margin: 50px auto;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.text-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.text-inputs > * {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#title {
  font-size: 1.7rem;
  font-weight: 100;
}

#story {
  font-size: 1.1rem;
}

#submit {
  height: 30px;
  padding: 0 20px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: transparent;
}
