* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 80px auto 50px;
  row-gap: 30px;
}

#backBtn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(51, 51, 51);
  text-decoration: none;
  position: absolute;
  left: 30px;
  top: 15px;
}

#themeBtn {
  position: fixed;
  right: 25px;
  top: 10px;
  width: 45px;
  height: 45px;
}

.find-post-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  min-width: 260px;
  border-radius: 20px;
  overflow: hidden;
}

#find-post {
  border: none;
  padding: 5px 20px;
  font-size: 1rem;
  flex-grow: 1;
}

#find-post:focus {
  outline: none;
}

.find-post-btn {
  cursor: pointer;
  margin-right: 6px;
  width: 22px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid rgb(179, 179, 179);
}

.text-inputs {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.text-inputs > * {
  margin: 0;
  padding: 7px 20px;
  border: 0;
}

.text-inputs > *:focus {
  outline: none;
}

#title {
  font-size: 1.7rem;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

#title::placeholder {
  font-weight: 100;
}

#author {
  font-size: 0.9rem;
  color: rgb(117, 117, 117);
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  opacity: 0;
}

.title-label {
  transition: opacity 0.2s;
  font-size: 1.7rem;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-align: right;
  border-right: 1px solid rgb(179, 179, 179);
}

.name-label {
  transition: opacity 0.2s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  text-align: right;
  border-right: 1px solid rgb(179, 179, 179);
}

#story {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
  resize: none;
  letter-spacing: 0.7px;
  line-height: 27px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

#postId {
  padding-top: 25px;
  font-size: 0.9rem;
  color: rgb(117, 117, 117);
  font-family: Arial, Helvetica, sans-serif;
}

.submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit {
  height: 30px;
  padding: 0 20px;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  margin-top: 7px;
}

.error-message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: rgb(255, 90, 82);
  font-weight: 100;
  text-align: center;
  width: 100px;
  transition: opacity 0.2s;
}

input#title.error::-webkit-input-placeholder {
  transition: color 0.2s;
  color: rgb(255, 90, 82);
}

@media screen and (max-width: 768px) {
  .content {
    margin: auto;
    flex-direction: column;
  }

  .text-inputs {
    grid-template-columns: 1fr;
  }

  .title-label,
  .name-label {
    text-align: left;
    padding-bottom: 0;
    border-right: none;
  }

  #title,
  #author {
    padding-top: 0;
  }

  #story {
    font-size: 1rem;
  }
}
